<header [hidden]="!showHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="header-title" href="#"></a>
      </div>
      <div class="col-md-8 text-right">
        <div class="notification-icon">

        </div>
        <div class="user-profile">
          <img src="https://secure.gravatar.com/avatar/ad11fc5c89084707c4cb3941e8051c90?s=64&d=https://app.zeplin.io/img/emotars/emotarFourLeafClover.png"
            class="rounded-circle">
        </div>
      </div>
    </div>
  </div>

</header>
<nav [hidden]="!showHeader" class="navbar navbar-expand-md">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Workers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reporting</a>
        </li>
      </ul>

      <div>
        <span class="icon icon-search"></span>
        <span class="icon icon-message"></span>
        <span class="icon icon-setting"></span>
      </div>
    </div>

  </div>

</nav>