<div class="container">
  <div class="row">
    <div class="breadcrumb-container col-md-10">
      <span>Jobs > Active Jobs > Job12345 > <span class="selected-text">David McCoy</span></span>
    </div>
    <div class="col-md-2 text-center">
      <button class="btn btn-primary button-dashboard">New Job</button>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-md-4 box-top">
      <div class="header-box d-flex align-items-center">
        <span>Worker Activity</span>
        <ng-select class="ml-auto" [options]="myOptions" highlightColor="#fff" highlightTextColor="#29abe2" placeholder="Date" [noFilter]="Infinity">
        </ng-select>
      </div>
      <div class="box-no-top px-3 d-flex align-items-center worker-activity-box" *ngFor="let status of job_activity.status" >
        <div class="bordered-styled d-inline-block">
            <span class="icon worker-activity-circle"></span>
        </div>
        <span class="icon icon-clock ml-2"></span>
        <div class="d-inline-block">
          <span class="d-block my-2">{{status.date}}</span>
          <span class="d-block mb-2">{{status.comment}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="header-box box d-flex align-items-center">
            <div>
                <img width="36" src="https://secure.gravatar.com/avatar/ad11fc5c89084707c4cb3941e8051c90?s=64&d=https://app.zeplin.io/img/emotars/emotarFourLeafClover.png" class="rounded-circle">
                <span class="normal-text pl-2">David McCoy</span>
                <span class="pl-4">New York, ON.</span>
            </div>
            <div class="ml-auto">
              <span class="icon icon-map-2"></span>
              <span class="icon icon-chat-box"></span>
              <span class="icon icon-trash"></span>
            </div>
          </div>
          <div>
            <ul class="nav nav-tabs tab-box p-x-3 pt-3" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Aboud David</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Work History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
              </li>
            </ul>
            <div class="tab-content p-3 box-no-top" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="text-right">
                  <span class="header-text">Worker since 10/22/1016</span>
                </div>
                <p class="pt-3">
                  I have l ot of experience in the warehouse setting. I’ve worked for Honda and Ford in the past and have passed all the safetly
                  tests required to pass at both plants. I also have all of the safety equipment necessary for any heavy
                  warehouse position.
                </p>
                <div>
                  <span class="d-block t-modal-header pb-3">Skills</span>
                  <button class="btn btn-primary mr-2">Shop Work</button>
                  <button class="btn btn-primary">CNC Operation</button>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-12">
          <div class="header-box box">
            <span>Questions for the Worker about the Job - Answers</span>
          </div>
          <div class="box-no-top p-3">
            <p class="header-text">Do you have safety equipment?</p>
            <p>Yes</p>
            <p class="header-text">Do you have your license?</p>
            <p>Yes</p>
            <p class="header-text">Do you have access to a car?</p>
            <p>Yes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>