.button-dashboard {
  height: 50px;
  width: 100%;
}
.bordered-styled {
  border-left: 3px solid #d8d8d8;
  position: relative;
  height: 60px;
}
.worker-activity-circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 0;
  left: -6px;
  background-color: #29ABE2;
  position: absolute;
  margin-top: 10px;
}
.worker-activity-box:last-child {
  padding-bottom: 10px;
}