.notification-box {
  padding: 10px 15px;
  border-bottom: solid 1px #e2e9ef;
  border-left: solid 1px #e2e9ef;
  border-right: solid 1px #e2e9ef;
}
.header-box > select {
  position: relative;
  top: 50%;
  transform: translateY(-25%);
}
.table th {
  border-bottom: 0;
  border-top: 0;
}
.table td {
  vertical-align: middle;
  border-top: 0;
}
td {
  padding: 0.75rem;
}

td:first-child {
  padding-top: 0.75rem;
  padding-bottom:0.75rem;
  padding-left:0.75rem; 
  padding-right: 0;
}
.table-scroll-container {
  max-height:200px;
}
.sort-items {
  float: right;
  padding: 0 20px;
}
.donut-chart {
  position: relative;
}
.donut-chart h3 {
  color: #89939a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}